body {
  padding-top: 5rem;
  background-image: url("../images/bookbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%; }

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center; }

h1 {
  font-family: "Courier New";
  font-weight: bold; }

body {
  font-family: helvetica, sans-serif;
  width: 350px; }

label {
  font-weight: bold; }

div {
  padding-bottom: 20px; }

input[type="text"] {
  padding: 5px;
  width: 150px; }

p {
  background: #edb3af;
  color: #5E2612;
  padding: 10px;
  visibility: hidden; }
